<template>
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <p>Lista de artículos</p>
        </div>
        <table class="table">
            <button type="button" @click="getUser"> Lista </button>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in lista" :key=index++>
                    <td>{{ index }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <td>
                        <button type="button" class="btn btn-default" @click="Delete(item)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>#</td>
                    <td>
                        <input type="text" v-model="title">
                    </td>
                    <td>
                        <input type="text" v-model="first" v-on:keyup.enter="newSave">
                    </td>
                    <td>
                        <div type="button" class="btn btn-default" @click="newSave">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: 'example',
        data(){
            return {
                title: '',
                first: '',
                lista: []
            }
        },
        created() {
            this.getUser()
        },
        methods:{
            addName: function(){
                var name = {
                        name: this.title,
                        email: this.first
                    }
                this.lista.push(name);
                this.title = '';
                this.first = '';
            },
            Delete: function(item){
                const params = new URLSearchParams();
                params.append('name', item.name);
                axios.post(deleteUser, params)
                .then((response) => {
                    this.lista.splice(item, 1)
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            getUser: function(){
                axios.get(urlUser).then(response => {
                    this.lista = response.data.results;
                });
            },
            newSave: function(){
                const params = new URLSearchParams();
                params.append('name', this.title);
                params.append('email', this.first);
                params.append('login', this.first);
                axios.post(newUser, params)
                .then((response) => {
                    this.addName()
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        }
    }
</script>
